@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

 .darkened-background {
  position: relative;
  background-size: cover;
  background-position: center;
}

.darkened-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:8px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}
 .darkened-backgroundhero {
  
  background-position: center;
}

.darkened-backgroundhero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 opacity:0.7;

  z-index: -1;
}
.containerbg::before {
  content: "";
  width:150vw;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity as needed */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.containerbg > * {
  position: relative;
  z-index: 1;
}
.containerbg {
 
  width: 100%; /* Set the container width to 100% */
  height: 100vh; /* Set the container height to 100% of the viewport height */
  overflow: hidden; 
  background-size:cover ; 
  background-repeat: no-repeat;
  position: relative; 
}